.icons-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: #eee;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.icons-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--black);
    background: #eee;
    text-align: center;

}

.icons-container .icons .content h3{
    color: var(--purple);
    font-size: 2.5rem;
    font-weight: bolder;
}

.icons-container .icons .content p{
    color: var(--light-purple);
    font-size: 1.5rem;
    font-weight: 600;
}

.icons-container .icons:hover{
    background: var(--black);
}

.icons-container .icons:hover i{
    background: var(--purple);
}

.icons-container .icons:hover .content h3{
    color: #fff;
}

.icons-container .icons:hover .content p{
    color: #eee;
}